body{
    margin: 0%;
    padding: 0%;
    font-family: 'Lato', sans-serif;
    background-color: black;
}

.main{
    margin: auto;
    max-width: 1200px;
}

.header{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 10px;
    font-weight: 900;
    color: white;
    background-color: #31aed2;
}

.section{
    background-image: url(img/people.jpg);
    height: 565px;
    position: relative;
}

.catch{
    box-sizing: border-box;
    height: 510px;
    width: 300px;
    background-color: rgb(255, 255, 255, 70%);
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    padding: 25px;
}

.t1{
    text-transform: uppercase;
    font-size: 20px;
    margin: 0%;
    padding: 0%;
}

.p1{
    margin-top: 20px;
    margin-bottom: 30px;
}

.form{
    box-sizing: border-box;
    height: 40px;
    width: 250px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.363);
    font-weight: 900;
    font-size: 13px;
}

.submit{
    background-color: #31aed2;
    color: rgb(255, 255, 255);
    border-color: #31aed2;
}

.footer{
    background-color: #202122;
    padding: 55px;
    padding-left: 250px;
    padding-right: 250px;
    color: white;
}

.face{
    height: 200px;
    float: left;
    margin-right: 20px;
}


